{% extends "base.html" %}
{% block title %}Global Economic Foundation – Unite. Act. Transform{% endblock %}

{% block body %}
    {% include "components/navbar.html" %}
    {% include "components/hero.html" %}
    {% include "components/about.html" %}
    {% include "components/what_we_do.html" %}
    {% include "components/how_we_make_it_happen.html" %}
    {% include "components/why_it_matters.html" %}
    {% include "components/impact_stats.html" %}
    {% include "components/testimonials.html" %}
    {% include "components/partners.html" %}
    {% include "components/join_us_cta.html" %}
    {% include "components/footer.html" %}
{% endblock %}
